
.controlButtons {
  background-size: 134px 134px;
  width: 134px;
  height: 134px;
  margin: auto;
}

.controlLabels {
  background-size: 134px 72px;
  width: 134px;
  height: 72px;
  margin: auto;
}

